/* .bubbles {
  background-image: url("/assets/img/Bubbles.svg") !important;
  background-size: cover;
  background-position: center;
} */

.card-img-top-portfolio {
  padding-top: 40px;
  max-height: 400px; /* Set the desired height */
  object-fit: contain; /* Maintain aspect ratio while covering the container */
}

.btn-group-porfolio {
  margin: 0 auto;
}
